.App {
  text-align: center;
  /*background-color: #252627;*/

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

.lightbox {
  /*width: 350px;*/
}

.lightbox img {
  border: none;
  border-radius: 0 !important;
}

/*.lightbox:hover {*/
  /*background-color: rgba(65,65,65, 0.4);*/
/*}*/

.lightbox.container {
  position: relative;
  width: 33%;
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: #171941;
}

.lightbox.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-header {
  margin-top: 10%;
  margin-bottom: 0;
  padding: 1%;
}

.overlay-sub {
  color: #E31B6D;
}

.nav-active {
  border-bottom: 2px solid #E31B6D;
}

.nav-normal {
  text-decoration: none;
}