.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home-container .home-text {
    display: flex;
}

.home-container span {
    display: flex;
    font-size: 3rem;
    justify-content: center;
}

.home-container p {
    font-weight: bold;
}

.home-container h3 {
    font-size: 3rem;
}

.home-highlight {
    color: #E31B6D;
    margin-left: 15px;
}

.home-container .d-sm-block {
    font-weight: bold;
}

/* Smart phones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .home-container span {
        font-size: 1.6rem;
    }

    .home-container h3 {
        font-size: 1.4rem;
    }
}

/* Smart phones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    /* Styles */
    .home-container span {
        font-size: 2.4rem;
    }

    .home-container h3 {
        font-size: 2.1rem;
    }

}