.gallery-wrapper {
    width: 80%;
    padding: 20px 0 20px 0;
    display: flex;
}

.gallery-container {
    width: 340px;
    height: 370px;
    position: relative;
    margin-right: 20px;

    img {
        margin-bottom: 0;
    }

    &:hover {
        transition: 0.3s;
        .gallery-hover {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 0.3s;
        }
    }

    p, a {
        padding: 0;
        margin: 0;
    }
}

.gallery-content {
    padding-top: 10px;
}

.gallery-hover {
    display: none;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    height: 100%;
    padding: 10px;
    transition: 0.3s;
    
    span {
        display: flex;
    }
}