@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "./config.scss";
@import "./App.scss";
@import "./components/Footer/Footer.scss";
@import "./components/Landing/Landing.scss";
@import "./components/About/About.scss";
@import "./components/Experience/Experience.scss";

* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $violet;
}

body {
    font-family: "Lato", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: linear-gradient(to bottom, #000, #000 50%, $violet 50%, $violet);
    background-size: 100% 4px;
}

.bg-grid {
    background-image: radial-gradient(circle at 1px 3px, rgba(255, 0, 134, 0.4) 1px, transparent 0);
    background-size: 40px 40px;
}

.bg-stripes {
    background: linear-gradient(to bottom, #5d9634, #5d9634 50%, #538c2b 50%, #538c2b);
    background-size: 100% 20px;
}

.navbar-style {
  // background-color: #0E0520;
  // border-bottom: 1px solid #261E36;
  height: 80px;

}

.btn-flat {
    border-color: $rose;
    color: $rose;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    height: 40px;

    &:hover {
        color: $rose;
        font-weight: 900;
        background-color: rgba(255, 0, 134, 0.3);
        background-blend-mode: darken;
    }
}

.spaced-p {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 900;
    font-size: 1rem;
}

.spaced-p-robo {
    font-family: "Roboto", sans-serif;
    color: $rose;
}

.spaced-p-item {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 900;
    font-size: 0.7rem;
}

.nav-link {
    margin-left: 10px;
    &:hover {
        color: $rose !important;
    }
}

.hr-rose {
    border: 4px solid $rose;
    width: 70px;
    height: 5px;
    margin-top: 20px;
}

@media(max-width: 768px) {
    .collapse {
        background-color: $violet;
        z-index: 10;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}